.app-nav-main {
    display: flex;
    justify-content: center;
}


.app-nav-side {
    display: inline-block;
    margin: 10px;
    width: 100%;
    height: 100vh;
    z-index: inherit;
    text-indent: 5px;    
    padding: 5px 2px;
    position: relative;
    text-indent: 2px;
}


.app-hero-side {
    max-width: 200px;
}